* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Commissioner", sans-serif;
  width: 100%;
  position: relative;
  background-color: #f2f2f2;
  /* margin: 0 auto; */
  /* max-width: 1400px; */
}

/********** HEADER AND NAV **********/

header {
  max-height: 400px;
}

.gradient-img {
  background: rgb(21, 21, 21);
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.0001) 100%);
}

img[src="images/image-hero-desktop.jpg"] {
  position: relative;
  z-index: -1;
  width: 100%;
}

img[src="images/image-hero-mobile.jpg"] {
  display: none;
}

nav {
  position: absolute;
  top: 50px;
  padding-left: 180px;
  padding-right: 180px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

nav > img {
  width: 128px;
  height: 20px;
}

.nav-links > a {
  font-weight: 500;
  font-size: 13px;
  color: white;
  text-decoration: none;
  padding-left: 33px;
}

/********** MOBILE MENU **********/
.openBtn {
  display: none;
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 40%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.closeBtn {
  width: 35px;
  height: 35px;
  filter: invert(50%) sepia(13%) saturate(0%) hue-rotate(276deg) brightness(99%)
    contrast(88%);
}

.closeBtn:hover {
  cursor: pointer;
  filter: invert(0%) sepia(2%) saturate(522%) hue-rotate(197deg) brightness(95%)
    contrast(102%);
}

.overlay .closeBtn {
  position: absolute;
  top: 45px;
  right: 45px;
  font-size: 60px;
}

/********** PROJECT INFO **********/

.project-info {
  position: absolute;
  top: 308px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 730px;
  /* height: 270px; */
  border: 1px solid rgba(0, 0, 0, 0.0497193);
  border-radius: 8px;
  background-color: white;
}

h1 {
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  color: #000000;
  margin-top: 56px;
  margin-bottom: 15px;
}

.project-info > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #7a7a7a;
  margin-bottom: 40px;
}

img[src="images/logo-mastercraft.svg"] {
  position: absolute;
  top: -25px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.buttons {
}

.buttonRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 1.5rem;
}

/* .buttonRow button {
  margin-right: 0.75rem;
  flex-grow: 1;
} */

button {
  font: 500 16px/1 "Commissioner", sans-serif;
  padding: 1.25rem 1rem;
  border: none;
  border-radius: 1.75rem;
  outline: none;
  background-color: hsl(176, 50%, 47%);
  color: hsl(0, 0%, 100%);
  transition: background-color 0.25s ease;
}

button:hover {
  background-color: hsl(176, 72%, 28%);
  cursor: pointer;
}

/* Bookmark Button */

#bookmark {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  width: 174px;
  border-radius: 28px;
  background-color: hsl(0, 0%, 95%);
}

#bookmark svg {
  position: relative;
  width: 56px;
  z-index: 1;
}

#bookmark circle {
  transition: fill 0.25s ease;
}

#bookmark p {
  font: 500 16px/1 "Commissioner", sans-serif;
  color: hsl(0, 0%, 50%);
  display: block;
  width: 110px;
  transition: color 0.25s ease;
}

#bookmark:hover {
  cursor: pointer;
}

#bookmark:hover circle {
  fill: hsl(0, 0%, 25%);
}

#bookmark:hover p {
  color: hsl(0, 0%, 65%);
}

#bookmark.active circle {
  fill: hsl(176, 50%, 47%);
}

#bookmark.active p {
  color: hsl(176, 50%, 47%);
}

#bookmark.active:hover circle {
  fill: hsl(176, 72%, 28%);
}

#bookmark.active:hover p {
  color: hsl(176, 72%, 28%);
}

/********** BACKERS PROGRESS **********/

.backers-progress {
  position: absolute;
  width: 730px;
  /* height: 212px; */
  top: 601px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.0497193);
  border-radius: 8px;
}

.backers-progress-info {
  display: flex;
  margin: 48px 0 37px 48px;
}

.backed-projects {
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  height: 63px;
  padding-right: 42px;
}

.total-backed {
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  height: 63px;
  padding: 0 90px 0 47px;
}

.days-left {
  padding: 0 0 0 47px;
}

span {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  display: flex;
  align-items: center;
  padding: 0 0 8px 0;
  color: #000000;
}

p {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  /* display: flex;
  align-items: center; */

  color: #7a7a7a;
}

#myProgress {
  width: 634px;
  height: 12px;
  background-color: rgb(244, 244, 244);
  border-radius: 33.5px;
  margin: 0 0 48px 49px;
  /* margin-left: 48px;
  margin-bottom: 49px; */
}

#myBar {
  width: 10%;
  height: 12px;
  background-color: rgba(60, 179, 171, 1);
  border-radius: 33.5px;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: white;
}

.click {
  position: absolute;
  top: 1000px;
}

/********** MEDIA QUERYY TABLET **********/

@media only screen and (max-width: 900px) {
  /* body {
    min-width: 370px;
  } */

  .openBtn {
    display: block;
  }

  nav {
    padding-left: 30px;
    padding-right: 30px;
  }

  .nav-links {
    display: none;
  }

  /********** PROJECT INFO **********/

  .project-info {
    top: 240px;
    width: 80%;
  }

  p {
    padding: 0 25px;
    margin-bottom: 20px;
  }

  /* .buttons {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    align-items: flex-start;
  } */

  .back-project {
    margin-left: 25px;
    margin-bottom: 40px;
  }

  #bookmark {
    width: 180px;
  }
  #bookmark p {
    display: none;
  }

  /********** BACKERS PROGRESS **********/
  .backers-progress {
    width: 80%;
    /* height: 150px; */
  }

  .backers-progress-info {
    margin: 5px 0 10px 0px;
    justify-content: space-around;
  }

  .backed-projects {
    padding-right: 0;
  }

  .total-backed {
    padding: 0px 5px 0 5px;
  }

  .days-left {
    padding: 0px 0 0 5px;
  }

  span {
    font-size: 24px;
    justify-content: center;
  }

  p {
    font-size: 12px;
    padding: 0 10px;
  }

  #myProgress {
    margin-left: 25px;
    width: 90%;
  }
}

/********** MEDIA QUERY MOBILE **********/

@media only screen and (max-width: 375px) {
  .project-info {
    min-width: 327px;
  }
  img[src="images/image-hero-desktop.jpg"] {
    display: none;
  }

  img[src="images/image-hero-mobile.jpg"] {
    display: block;
    position: relative;
    z-index: -1;
    width: 100%;
  }

  .backers-progress {
    min-width: 327px;
    /* flex-direction: row; */
  }

  .backers-progress-info {
    flex-direction: column;
    align-items: center;
  }

  .backed-projects {
    margin-top: 32px;
  }

  /* p {
    padding-bottom: 100px;
    margin-bottom: 100px;
  } */

  p {
    padding: 0;
  }

  .backed-projects,
  .total-backed {
    border-right: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    /* margin-bottom: 100px; */
    padding-bottom: 70px;
    margin-bottom: 24px;
  }

  .days-left {
    padding: 0;
  }

  #myProgress {
    width: 85%;
  }
}
